@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  text-rendering: geometricPrecision;
  font-family: "Hind Madurai", sans-serif;
}

.container-info {
  display: flex;
  justify-content: center;
  gap: 80px;
  background-color: #f62f60;
  padding: 6px 0;
}

.wrapper-info {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #fff;
  font-weight: 600;
}

.wrapper-info img {
  width: 14px;
  color: #fff;
  filter: invert(1);
}

.wrapper-info:first-child img {
  transform: rotate(260deg);
}

.wrapper-info span {
  font-size: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 15% 0 15%;
}

nav {
  width: 100%;
}

.logo {
  width: 80px;
}

li {
  display: inline;
}

a {
  padding: 8px;
  text-decoration: none;
  color: #000;
  font-size: 13px;
}

ul li:last-child a {
  color: #f62f60;
  font-weight: 600;
}

.wrapper-flex-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper-flex-nav-searchbar {
  display: flex;
  align-items: center;
  gap: 8px;
}

.container-searchbar-logo {
  padding: 2px;
  border: 1px solid #eaeaea;
  border-radius: 50%;
}

.wrapper-searchbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #eaeaea;
  border-radius: 40px;
  padding: 4px 2px 4px 14px;
}

.wrapper-searchbar input {
  border: none;
  font-size: 10px;
}

.wrapper-searchbar-logo {
  display: flex;
  background-color: #f6f6f6;
  padding: 8px;
  border-radius: 50%;
}

input:focus {
  outline: none;
  border: none;
}
